:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* font-weight: 400; */
  /* color-scheme: light dark; */
  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

#app {
  /* max-width: 1680px;
  margin: 0 auto;
  padding: 12px;
  text-align: center; */
}
